<nb-layout>
    <nb-layout-header fixed>
        Good People
        <nb-actions>
            <nb-action>
                <button nbButton routerLink="/auth/login">Login</button>
            </nb-action>
        </nb-actions>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card>
            <nb-card-header>Create user</nb-card-header>
            <nb-card-body>
                First Name: <input type="text" [(ngModel)]="firstName" nbInput placeholder="First Name">
                Last Name: <input type="text" [(ngModel)]="lastName" nbInput placeholder="Last Name">
            </nb-card-body>
            <nb-card-body>
                Address Line 1 <input type="text" [(ngModel)]="addressLine1" nbInput placeholder="Address Line 1">
                Address Line 2 <input type="text" [(ngModel)]="addressLine2" nbInput placeholder="Address Line 2">
                Postcode: <input type="text" [(ngModel)]="postcode" nbInput placeholder="Postcode">
            </nb-card-body>
            <nb-card-body>
                Phone No: <input type="text" [(ngModel)]="phoneNo" nbInput placeholder="Phone No">
            </nb-card-body>
            <nb-card-body>
                Email: <input type="text" [(ngModel)]="email" nbInput placeholder="Email">
            </nb-card-body>
            <nb-card-footer>
                <button nbButton (click)="createUser()">Create user</button>
            </nb-card-footer>
        </nb-card>

        <div class="card-row">
            <nb-card class="card-col">
                <nb-card-header>Want to help? Fill in the medicine that you can supply below.</nb-card-header>
                <nb-card-body>
                    Your postcode: <input type="text" [(ngModel)]="providePostcode" nbInput placeholder="Postcode">
                    Medicine to provide: <input type="text" [(ngModel)]="provideMedicine" nbInput placeholder="Medicine">
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton (click)="confirmProvide()">Confirm</button>
                </nb-card-footer>
            </nb-card>
            <nb-card class="card-col">
                <nb-card-header>Need help? Fill in the medicine that you need below.</nb-card-header>
                <nb-card-body>
                    Your postcode: <input type="text" [(ngModel)]="requestPostcode" nbInput placeholder="Postcode">
                    Medicine to request: <input type="text" [(ngModel)]="requestMedicine" nbInput placeholder="Medicine">
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton (click)="confirmRequest()">Confirm</button>
                </nb-card-footer>
            </nb-card>
        </div>

        <!-- <nb-card>
            <nb-card-header>Check Postcode</nb-card-header>
            <nb-card-body>
                <div>Check your postcode and pin where you are</div>
            </nb-card-body>
            <nb-card-body>
                Postcode: <input type="text" [(ngModel)]="postcodeToCheck" nbInput placeholder="Postcode">
            </nb-card-body>
            <nb-card-footer>
                <button nbButton (click)="checkPostcode()">Check Postcode</button>
            </nb-card-footer>
        </nb-card> -->
        
        <app-map #map></app-map>
        
    </nb-layout-column>

    <nb-layout-footer fixed>Created with ♥ by SRJ 2020</nb-layout-footer>
</nb-layout>