<nb-layout>
    <nb-layout-header fixed>
        Good People
        <nb-actions>
            <nb-action>
                <button nbButton routerLink="/auth/login">Login</button>
            </nb-action>
        </nb-actions>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card>
            <nb-card-header>Welcome</nb-card-header>
            <nb-card-body>
                Name: <input type="text" [(ngModel)]="name" nbInput placeholder="Name">
                Postcode: <input type="text" [(ngModel)]="postcode" nbInput placeholder="Postcode">
            </nb-card-body>
            <nb-card-footer>
                <button nbButton (click)="confirm()">Confirm</button>
            </nb-card-footer>
        </nb-card>

        <app-map #map></app-map>
    </nb-layout-column>

    <nb-layout-footer fixed>Created with ♥ by SRJ 2020</nb-layout-footer>
</nb-layout>